<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <link th:include="include/taglib :: globaljs"/>
    <link th:include="include/taglib :: commonjs"/>
</head>
<body>
<h1 class="page_title">表格</h1>
<h2>系统默认表格</h2>
<div class="codeView docs-example">
    <table>
        <thead>
        <tr>
            <th>表头</th>
            <th>表头</th>
            <th>表头</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        </tbody>
    </table>
</div><pre class="prettyprint linenums">
&lt;table&gt;
  ...
&lt;/table&gt;
</pre>
<h2>.table H-ui默认</h2>
<div class="codeView docs-example">
    <table class="table">
        <thead>
        <tr>
            <th>表头</th>
            <th>表头</th>
            <th>表头</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        </tbody>
    </table>
</div>
<h2>.table-border 带水平线</h2>
<div class="codeView docs-example">
    <table class="table table-border">
        <thead>
        <tr>
            <th>表头</th>
            <th>表头</th>
            <th>表头</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>